<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h3>Liberar acesso</h3>
	<label for="inputemail">E-mail</label>
		<input type="text" placeholder="***********" 
		name="inputemail"><br>
	<label for="inputsenha">Senha</label>
		<input type="password"  placeholder="***********" 
		name="inputsenha"><br>
	<label for="inputperfis">Perfis</label><br>
		<input type="checkbox"  placeholder="***********" 
		name="inputsenha">Médico<br>
		<input type="checkbox"  placeholder="***********" 
		name="inputsenha">Fisioterapeuta<br>
		<input type="checkbox"  placeholder="***********" 
		name="inputsenha">Nutricionista<br>
		<input type="checkbox"  placeholder="***********" 
		name="inputsenha">Administrador<br>
		
	
</body>

</html>