<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}"
	>

	<head>
		<meta charset="UTF-8">
		<title>Liberar acesso</title>
		<link rel="stylesheet"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		
		<style type="text/css">
			#liberar-acesso{
				margin: auto !important;
				height: 25% !important;
				width: 50% !important;
			}
			
			#botao{
				border-radius: 25px !important;
			}
			
			#titulo{
				margin-top: 150px !important;
			}
		</style>
	</head>
	
	<body>
	
	<section class="layout-content" layout:fragment="corpo">
		<main role="main">	
			<h1 id="titulo" class="display mt-5 mb-5" style="text-align: center">Liberar acesso</h1>
			
			<div class="container">
				<div id="liberar-acesso">
					<div class="row">
						<div class="col-12">
						
							<form class="form-group" th:object="${usuario}" th:action="@{/usuario/admin/liberar/acesso}"  
							method="POST">
								<label for="inputemail">E-mail</label>
								
								<input type="email" id="email" th:field="*{email}" class="form-control"  placeholder="email@servidor.com" 
								name="inputemail" required>
									
								<label for="inputsenha">Senha</label>
									<input th:field="*{senha}" id="senha" class="form-control" type="password" placeholder="***********" 
									name="inputsenha" required>
									
								<label for="perfis">Perfil</label>
								
								<select id="perfis" th:field="*{perfis}" 
								class="custom-select form-control mb-3" size="6" multiple required="required">
									<option value="1">Administrador</option>
									<option value="2">Médico</option>
									<option value="3">Fisioterapeuta</option>
									<option value="4">Nutricionista</option>
									<!-- <option value="5">Paciente</option> -->
								</select>
									<input type="hidden" value="0" name="perfis">
								<div class="row">
									<div class="col-6">
										<a id="botao" href="javascript:history.back()" class="btn btn-primary btn-lg btn-block">Voltar</a>
									</div>
									
									<div class="col-6">
										<button id="botao" type="submit" class="btn btn-success btn-lg btn-block">Salvar</button>
									</div>								
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
	</section>		
		
		<script th:src="@{/webjars/jquery/jquery.min.js/}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		
	<script	th:src="~{}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		$('#perfis').ready(function(){
			var perfis = [[${usuario.perfis}]]
			$.each(perfis, function(k, v){
				$('#perfis option[value="'+ v.id +'"]').attr('selected', 'selected');
			});
		});
	</script>
	</body>

</html>