<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Portal</title>
		<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	
	<style type="text/css">
		#menu{
			margin-top: 10em !important;
		}
		
		#botao{
			border-radius: 25px !important;
		}
	</style>
	
	</head>
	<body>
	
		<header>
			
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand" href="#">Clínica Médica Vital</a>
					<span class="text-light">Administrador</span>
				         			
					<form class="form-inline my-2 my-lg-0" style="margin-left: 55%;">
	      				<input class="form-control mr-sm-2" type="text" aria-label="Pesquisar" readonly="readonly">
	      				<button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
	   				 </form>
				</nav>
		</header>
				
			<div id="menu" class="container">
			
			<h1 class="display mb-5" style="text-align: center;">Bem-vindo</h1>
			
				<div class="row">
					<div class="col-6">
						<a id="botao" class="btn btn-primary btn-block btn-lg" href="#">Liberar acesso usuário</a>
					</div>
					
					<div class="col-6">
						<a id="botao" class="btn btn-primary btn-block btn-lg" href="#">Ver agendamentos</a>
					</div>
				</div>
				
				<div class="row mt-5">
					<div class="col-6">
						<a id="botao" class="btn btn-primary btn-block btn-lg" href="#">Ver histórico</a>
					</div>
					
					<div class="col-6">
						<a id="botao" class="btn btn-primary btn-block btn-lg" href="#">Listar usuários</a>
					</div>
				</div>
			</div>
			
		
	</body>
	
	<script th:src="@{/webjars/jquery/jquery.min.js/}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</html>