<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">

	<head>
		<meta charset="UTF-8">
		<title>Agendar consulta</title>
		<link rel="stylesheet"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<style type="text/css">
			#agendar-consulta{
				margin: auto !important;
				height: 25% !important;
				width: 50% !important;
			}
			
			#botao{
				border-radius: 25px !important;
			}
			
			#titulo{
				margin-top: 150px !important;
			}
		</style>
	</head>
	
	<body>
	
	<!--  inicio -->
	
	<section class="layout-content" layout:fragment="corpo">
		<main role="main">	
			<h1 id="titulo" class="display mt-5 mb-5" style="text-align: center">Agendar consulta</h1>
			
			<div class="container">
				<div id="agendar-consulta">
					<div class="row">
						<div class="col-12">
						
							<form class="form-group" action="" method="POST" th:object="${agendamento}" th:action="@{/agendamento/agendar/salvar}">
						<!-- 	<label for="selecaoprofissional">Profissional</label>
							 	<select id="profissional"  class="custom-select form-control mb-3" size="6" >
									<option value="2">Médico</option>
									<option value="3">Fisioterapeuta</option>
									<option value="4">Nutricionista</option>
								</select> -->
							
							<label for="selecaoespecialidade" >Especialidade</label>
								<select id="especialidade" th:field="*{especialidade.titulo}" class="custom-select form-control mb-3" size="6" >
								<option th:value="*{especialidade.id}" 
									  			th:text="*{especialidade.titulo}"></option>
								</select>
	
								<label for="selecaomedico" >Médico</label>
								<select id="medico" th:field="*{medico.nome}" class="custom-select form-control mb-3" size="6" >
								<option th:value="medico.id" th:text="*{medico.nome}"></option>
								</select>
	
								<label for="selecaodata">Selecione a data da consulta</label>
								<div class="col-4">
								<input id="data" th:field="*{dataConsulta}" class="form-control" type="date" name="inputdataconsulta" required />
								</div>							
									
								<label for="selecaohorario" >Horários disponíveis</label>
								<select id="horario" th:field="*{horario.id}" class="form-group custom-select" size="6" >
									<option th:value="*{horario.id}" 
									  			th:text="*{horario.horaMinuto}"></option>
								</select>
								<!--  <input type="hidden" value="0" name="perfis">-->	
								<div class="row">
									<div class="col-6">
										<a id="botao" href="javascript:history.back()" class="btn btn-primary btn-lg btn-block">Voltar</a>
									</div>
									
									<div class="col-6">
										<button id="botao" type="submit" class="btn btn-success btn-lg btn-block">Salvar</button>
									</div>								
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
	</section>	
	
	<!-- fim -->
	
	</body>

</html>