<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">

	<head>
		<meta charset="UTF-8">
		<title>Agendar consulta</title>
		<link rel="stylesheet"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<style type="text/css">
			#agendar-consulta{
				margin: auto !important;
				height: 25% !important;
				width: 50% !important;
			}
			
			#botao{
				border-radius: 25px !important;
			}
			
			#titulo{
				margin-top: 150px !important;
			}
		</style>
	</head>
	
	<body>
	
	<!--  inicio -->
	
	<section class="layout-content" layout:fragment="corpo">
		<main role="main">	
			<h1 id="titulo" class="display mt-5 mb-5" style="text-align: center">Agendar consulta</h1>
			
			<div class="container">
				<div id="agendar-consulta">
					<div class="row">
						<div class="col-12">
						
							<form class="form-group" th:action="@{/agendamento/agendar/salvar}" th:object="${agendamento}" method="POST">
								<div class="form-row">
								<div class="form-group col-md-12">
									<small class="form-text text-muted">Selecione 
										a especialidade médica referente a sua consulta.</small>
										
									<input type="text" class="form-control"
										id="especialidade" placeholder="Ex.: Pediatria"
										th:field="*{especialidade.titulo}" required />
								</div>
							</div>
	
							<div class="form-row">
								<div class="form-group col-md-12">
									<div class="card">
									  <div class="card-header">
									    Indique o profissional desejado
									  </div>
									  <div class="card-body" id="medicos">										  									    
											<!-- jQuery -->
									  </div>									  							  
									</div>
								</div>
							</div>
							
							<div class="form-row">								
								<div class="form-group col-md-12">
									<small class="form-text text-muted">Selecione 
										a data da consulta</small>
									<input class="form-control" type="date" id="data" 
										th:field="*{dataConsulta}" required/>
									<div class="invalid-feedback">
								      Data é obrigatória.
								    </div>	
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group col-md-12">
									<small id="hr-small" class="form-text text-muted">Horários disponíveis
										para a consulta</small>
									<select id="horarios" class="custom-select" size="5" 
										th:field="*{horario.id}" required>
									  	<option th:value="*{horario.id}" 
									  			th:text="*{horario.horaMinuto}"></option>
									</select>
									<div class="invalid-feedback">Horário é obrigatório</div>
								</div>
							</div>
							
							<input type="hidden" th:field="*{id}"/>							
							<div class="row">
									<div class="col-6">
										<a id="botao" href="javascript:history.back()"
											class="btn btn-primary btn-lg btn-block">Voltar</a>
									</div>

									<div class="col-6">
										<button id="botao" type="submit"
											class="btn btn-success btn-lg btn-block">Agendar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
	</section>	
	
	<script	th:src="@{/js/agendamento.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	// buscar o médico pela especialidade
	/*[# th:if="${agendamento.medico != null}"]*/
		$( document ).ready(function() {
			var id = [[${agendamento.medico.id}]];
			var titulo = [(${#strings.concat("'",agendamento.especialidade.titulo,"'")})];
			$.get( "/medicos/especialidade/titulo/" + titulo, function( result ) {
				$.each(result, function (k, v) {
					$("#medicos").append(
						 '<div class="custom-control custom-radio">'
						+  '<input class="custom-control-input" type="radio" id="customRadio'+ k +'" name="medico.id" value="'+ v.id +'" required '+ (v.id == id ? "checked" : "")+' />'
						+  '<label class="custom-control-label" for="customRadio'+ k +'">'+ v.nome +'</label>'
						+'</div>'
					);
				});
			});
		});
	/*[/]*/
	</script>	
	</body>
</html>