<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
	
		<header>
			<nav>
				
			</nav>
		</header>
		
		<div>
			<h3>Login</h3>
			
			<form action="">
				<input type="text" placeholder="usuario@exemplo.com">
				<input type="password" placeholder="Senha">
				
				<select>
					<option >Perfil</option>
					<option>Médico</option>
					<option>Paciente</option>
				</select>
				
				<button type="submit">Entrar</button>			
			</form>
			
			<button type="button">Cadastre-se</button>
		</div>
	</body>
</html>