<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">


		<div id="menu" class="container">
			
			<h1 class="display mb-5" style="text-align: center;">Bem-vindo</h1>
			
				<div class="row">
					<div class="col-6">
						<a id="botao" class="btn btn-primary btn-block btn-lg" 
						th:href="@{/login}">Efetuar login</a>
					</div>
					
				</div>
			</div>

		</main>
	</section>
	<script th:src="~{}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>