<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Portal</title>
		<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body>
	
		<header>
			<div>
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand" href="#">Clínica Médica Vital</a>
					
				         			
				<form class="form-inline my-2 my-lg-0">
      				<input class="form-control mr-sm-2" type="text" placeholder="seuemail@email.com" aria-label="Pesquisar">
      				<button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
   				 </form>
				</nav>
			</div>
		</header>
	</body>
	
	<script th:src="@{/webjars/jquery/jquery.min.js/}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</html>