<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
<div class="container">
    <!-- linha dos card -->
    <div class="row red align-items-center justify-content-center" >
            <div class="row align-items-center" >
                <!-- Tab cursos conteudo -->
                <div class="tab-content ">
                    <div class="tab-pane active container " id="ingles">
                        <div class="row">
                            <div class="col col-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Acesso Negado</h5>
                                        <p class="card-text">Você não possui permissão para realizar esse tipo de operação</p>
                                        <a href="#" class="btn btn-primary">Home</a>
                                    </div>
                                </div>
                            </div>
                            
                            
                    <div class="tab-pane container" id="teenkids">

                    </div>
                    <div class="tab-pane container" id="incompany">

                    </div>
                    <div class="tab-pane container" id="espanhol">

                    </div>
                </div>
            </div>
</body>
</html>