<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
		<h4>Inserir dados cadastrais</h4>
	<form th:action="@{/paciente/cadastrar}" th:object="${paciente}" method="POST">
	
		<label for="inputnome">Nome completo</label>
		<input type="text" th:field="*{nome}" placeholder="Ex.: Bruno da Silva" 
		name="inputnome" required autofocus="autofocus"><br>
		
		<label for="inputnome">E-mail</label>
		<input type="text" th:field="*{usuario.email}" placeholder="Ex.: paciente@email.com" 
		name="inputnome" required="required"><br>
		
		<label for="inputdatanascimento">Data de Nascimento</label>
		<input type="date" th:field="*{dtNascimento}" placeholder="Ex.: 01/01/2001" 
		name="inputdatanascimento" required><br>
		
		<label for="inputnome">Senha</label>
		<input type="password" th:field="*{usuario.senha}" placeholder="***********" 
		name="inputnome" required><br>
				
		<label for="inputrua">Rua</label>
		<input type="text" th:field="*{endereco.rua}" placeholder="Rua..." name="inputrua" required><br>
		
		<label for="inputbairro">Bairro</label>	
		<input type="text" th:field="*{endereco.bairro}" placeholder="Bairro..." 
		name="inputbairro" required><br>
		
		<label for="inputbairro">Cidade</label>	
		<input type="text" th:field="*{endereco.cidade}" placeholder="Cidade..." 
		name="inputbairro" required><br>
		
		<label for="inputbairro">Estado</label>	
		<input type="text" th:field="*{endereco.estado}" placeholder="Estado..." 
		name="inputbairro" required><br>
		
		<label for="inputbairro">CEP</label>	
		<input type="text" th:field="*{endereco.cep}" placeholder="CEP" name="inputbairro" required><br>
		
		<input type="hidden" th:field="*{usuario.ativo}" value="1">
		
		<button type="button">Voltar</button>
		<button type="submit">Cadastrar</button>
	</form>
	
	</body>
</html>