<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
	<form>
	<label for="inputnome">Nome completo</label>
	<input type="text" placeholder="" name="inputnome">
	<label for="inputcpf">CPF</label>
	<input type="text" placeholder="usuario@exemplo.com" name="inputcpf">
	<label for="inputrua">Rua</label>
	<input type="text" placeholder="usuario@exemplo.com" name="inputrua">
	<label for="inputbairro">Bairro</label>
	<input type="text" placeholder="usuario@exemplo.com" name="inputbairro">
	</form>
	
	</body>
</html>